In [ ]:
#learning

num_1 = 5 #int, integer

num_2 = 10.2 #float

answer = num_1 * num_2

var_1 = 'william' #str, string

answer_str = str(answer) #casting as 

type(answer_str)

str

In [ ]:
#exercise 1

num1 = 10
num2 = 15

answer = num1 * num2

print(answer)

150

In [ ]:
#exercise 2

radius = 2
pi = 3.14

area = pi * radius**2

area

12.56

In [ ]:
#string formatting

name = 'Paul'
job = 'Data Analyst'

name_job = f"Hi, my name is {name}, and I am a {job}" #f string for formatting data

name_job

'Hi, my name is Paul, and I am a Data Analyst'

In [ ]:
phrase = name_job

phrase[-7:]

# strings are iterable
# iterable over
# a thing that has parts that can be accessed one at a time
# counting in python starts at 0
# start is inclusive, stop is exclusive

NameError: name 'name_job' is not defined